
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.Home{

    background-image: url("./Image/drew-coffman-1872.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center center;
}


.layer{
    background-color: rgba(33, 28, 14, 0.1);
    width: 100%;
    height: 100%;
}


.Container{
}

.Navbar{
    /* background-color: tomato; */
    /* border: 5px rgb(10, 13, 207) solid; */
}
.nav_links{
    float: right;
    margin-top: 30px;
    
    /* border: 2px fuchsia solid; */
}
.nav_links a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
    /* border: 10px rgb(54, 122, 15) solid; */
}
.Clear_Fix{
    clear: both;
}

.Nav_Logo{
    width: 10%;
    float: left;
    /* background-color: rgb(212, 212, 212); */
}
.Nav_Logo img{
    width: 100%;
    padding: 20px;
}
.HomeTexts{
    text-align: center;
    color: white;
    margin-top: 50px;
    
}
.HomeTexts p{
    font-size: 20px;
}
.HomeTexts h1{
    padding: 30px;
    font-size: 55px;
    text-align: center;
}
.btn{
    padding: 17px;
    color:aliceblue;
    margin: 50px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.btn1{
    background-color: #8e7754;
    border: #8e7754;
}
.bt2{
    background-color: transparent;
    border: white 2px solid;
}
.AboutUsContainer{
    margin-top: 50px;
    margin-left: 50px;
}
.Image_about{
    width: 30%;
    float: left;
}
.Image_about img{
    width: 100%;
}

.about_desc{
width: 70%;
float: left;
text-align: center;
font-size: 18px;
}
.about_desc p{
    margin: 30px;
}
.about_desc b{
    font-weight: bold;
    font-size: 30px;
}
.about_desc ul{
    padding:20px 50px;
}
.LocationContainer{
    margin-top: 50px;
    margin-right: 20px;
}

.LocationImg{
    width: 30%;
    float: right;
    
}
.LocationImg img{
    width: 100%;
}
.Location_desc{
width: 70%;
float: right;
text-align: center;
font-size: 18px;

}
.Location_desc b{
    font-weight: bold;
    font-size: 30px;
}

.baking{
text-align: center;
padding: 20px 30px;
}
.imgsection{
    width: 33.3333%;
    float:left;

    
}
.imgsection img{
    width: 90%;

}
.Containerr{
    width:80%;
    margin: auto;
}


@media screen and (max-width:700px) {
    body{
        background-color: azure;
    }
}